header {
  grid-area: myheader;
  background: orange;
}
nav {
  grid-area: mynav;
  background: lightblue;
}
main {
  grid-area: mymain;
  background: lightgreen;
}
footer {
  grid-area: myfooter;
  background: yellow;
}

body {
  display: grid;
  grid-template-areas:
    "myheader mynav"
    "mymain mynav"
    "mymain myfooter";
}